<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
    </style>


    <title>Document</title>
</head>
<body>
    <div>
    <ul>
    <li><a href="index">Home</a></li>
    <li><a href="view">View</a></li>
    </ul>
    </div>
    <form action="/results" method="POST">
    <div>
        <br>
        <h1>Create New Record</h1>
    <input class="form-control" type="text" name="firstName" placeholder="Name">
    <br>
    <br>
    <input type="text" name="lastName" placeholder="Email">
    </div>
    <div>
    <br>
    <label>Select Department</label>
    <br>
    <select id="department" name="department" >
        <option>IT</option>
        <option>HR</option>
        <option>PR</option>
    </select>
    </div>
    <div>
    <br>
    <input type="text" name="startDate" placeholder="Starting Date">
    <br>
    <br>
    <input type="text" name="jobTitle" placeholder="Job Title">
    <br>
    <br>
    <input type="text" name="salary" placeholder="Salary">
    </div>
    <br>
    <input type="submit" >

    </form>
    
</body>
</html>