<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="about">About</a>
    <a href="form">Form</a>
    <a href="index">Index</a>
    <a href="lab3">Lab3</a>
    <form action="/results" method="post" enctype="application/x-www-form-urlencoded">
    
    <select name="selection">
        {{ ran }}
    </select>
    <input type="submit">
</body>
</html>